/* body sections */
.coverpic1{
background-size: cover;

background-image: url(../images/bgproducts.jpg) ;
}
.search-bar{
  width: 50%;
  border-radius: 50px;
  background-color: white;
  margin-inline: auto;

}
.dropdown{
  position: relative;
  width: 280px;
  border-radius: 50px;
  border: 1px solid white;
  background-color:rgb(104, 102, 99);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.dropdown-text{
  font-size: 1rem;
  color: white;
  padding: 1rem 1.5rem;
}
.dropdown-list{
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  transition: max-height 0.5s;
}
#list.show{
  max-height: 100px;
}
.dropdown-list-items button{
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: margin-left 0.2s ease, color 0.2s ease;
  border: none;
  background-color: white;
}
.dropdown-list-items button:hover{
  margin-left: 0.5rem;
  color: rgb(61, 58, 55);
}
.search-box{
  padding-right: 1rem;
  width: 100%;
  color: rgb(83, 79, 76);
}
.search-box input{
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(155, 150, 145);
  border: 0;
  outline: 0;
}
.search-box i{
  font-size: 1.3rem;
  cursor: pointer;
}
.search-box input::placeholder{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(86, 81, 75);
} 